extends /layouts/_fs-layout

block content
  section
    .container.message
      h1 報名成功
      p 你已報名ＸＸＸＸ活動，活動期間可利用志工日誌功能進行每日活動報到與撰寫每日志工日誌，感謝您的參與！
      a.cta-button(href='/frontstage/dailylog') 前往志工日誌
      a.back-button(href='/frontstage/event') 返回活動列表
