extends /layouts/_fs-layout

block content
  section
    .container.event-detail-section

      .event-main
        .main
          h1.title 活動名稱活動名稱活動名稱活動名稱
          p.description 活動敘述這是一個 Volunteer 活動，希望志工踴躍參加。活動敘述這是一個 Volunteer 活動，希望志工踴躍參加。活動敘述這是一個 Volunteer 活動，希望志工踴躍參加。
        .aside
          .org
            .org-logo(style='background-image: url("http://fakeimg.pl/120x120/")')
            .org-name
              .label 運用單位
              a.name(href='/frontstage/org/org-detail') 台東青年志工中心

      .event-meta
        .main
          h2.content-title 必要條件
          ul.check-list
            li.checked 條件與技能敘述。條件與技能敘述。條件與技能敘述。
            li.checked 條件與技能敘述。條件與技能敘述。條件與技能敘述。
          h2.content-title 加分條件
          ul.check-list
            li 條件與技能敘述。條件與技能敘述。條件與技能敘述。

        .aside
          a.cta-button(href='/frontstage/event/event-apply-complete') 確定報名
          a.cancel-button(href='/frontstage/event/event-detail') 取消
