extends /layouts/_fs-layout

block content
  section.list
    .container.event-list-section
      .section-title
        h1.title 所有活動
        .function
          form.form-group
            .form-unit
              label 排序
              select
                option 依時間排序
            .form-unit
              label 篩選
              select
                option 依類型篩選


      ul.event-list
        - for(var i = 0; i < 6; i++)
          li.event-item
            a.event-image(href='/frontstage/event/event-detail' style='background-image:url("http://fakeimg.pl/320x180/")')
            .event-info
              a.name(href='/frontstage/event/event-detail') 活動名稱
              .org 運用單位
              p.description 活動敘述這是一個 Volunteer 活動，希望志工踴躍參加。活動敘述這是一個 Volunteer 活動，希望志工踴躍參加。活動敘述這是一個 Volunteer 活動，希望志工踴躍參加。
              ul.tag-list
                li.tag-item: a(href='#') 長期照護
                li.tag-item: a(href='#') 社會關懷
              a.readmore(href='/frontstage/event/event-detail') 詳細內容
            .event-apply-info
              .event-people-apply
                .label 完成報名
                .value 136<span class='unit'>人</span>
              .event-people-need
                .label 需求人數
                .value 240<span class='unit'>人</span>
              .event-apply-presentage
                .label 需求百分比
                .value 56.7<span class='unit'>%</span>
                .presentage-bar(style='width: 56.7%')
