header.header
  .container
    .logo: a(href='/bs/') Volunteer 管理後台
    .nav-wrap
      .nav-button 目錄
      nav.nav
        a(href='/bs/org/') 單位管理
        a(href='/bs/event/') 活動管理
        //- a(href='/bs/course/') 課程管理
        a(href='/bs/member/') 志工管理
    .member
      span.member-name Volunteer
      a(href='/fs/') 登出
