header.header
  .container
    .logo: a(href='/backstage/') Volunteer 後台
    .nav-wrap
      .nav-button 目錄
      nav.navigation
        a(href='/backstage/permission/') 權限管理
        a(href='/backstage/member/') 使用者管理
        a(href='/backstage/event/') 活動管理
        a(href='/backstage/org/') 單位管理
    .member
      span.member-name Volunteer
      a(href='/backstage/') 登出
