header.header
  .container
    .logo: a(href='/frontstage/') Volunteer
    .nav-wrap
      .nav-button 目錄
      nav.navigation
        a(href='/frontstage/event/') 活動列表
        a(href='/frontstage/dailylog/') 志工日誌
        a(href='/frontstage/member/record-service') 服務紀錄
    .member
      //- member signout
      //- a(href='/frontstage/member/sign-in') 註冊 / 登入
      //- member signin
      span.member-name Volunteer
      a(href='/frontstage/') 登出
