extends /layouts/_fs-layout

block content
  section
    .container.org-detail-section

      .org-main
        .org
          .org-logo(style='background-image: url("http://fakeimg.pl/120x120/")')
          .org-name
            .label 運用單位
            .name 台東青年志工中心

      p.org-description 運用單位介紹，介紹這個單位的簡單文字。運用單位介紹，介紹這個單位的簡單文字。運用單位介紹，介紹這個單位的簡單文字。運用單位介紹，介紹這個單位的簡單文字。

      .org-meta
        .main
          .org-images
            img(src='http://fakeimg.pl/1920x1080/')
        .aside
          .org-info
            .label 登記地址
            .value 台東市博愛路425號
          .org-info
            .label 聯絡電話
            .value 089-123456
          .org-info
            .label 傳真號碼
            .value 089-654321
          .org-info
            .label Email
            .value Volunteer@taitung.com.tw
          a.cta-button(href='#') 管理後台


      .org-content
        .main
          h2.content-title 招募中的活動
          ul
            li 活動名稱活動名稱活動名稱活動名稱活動名稱活動名稱活動名稱
            li 活動名稱活動名稱活動名稱活動名稱活動名稱
          h2.content-title 將開設的活動
          ul
            li 活動名稱活動名稱活動名稱活動名稱活動名稱活動名稱活動名稱
            li 活動名稱活動名稱活動名稱活動名稱活動名稱
          h2.content-title 曾辦過的活動
          ul
            li 活動名稱活動名稱活動名稱活動名稱活動名稱活動名稱活動名稱
            li 活動名稱活動名稱活動名稱活動名稱活動名稱
