extends /layouts/_fs-layout

block content
  section
    .container.org-detail-section

      .org-main
        .org-logo(style='background-image: url("http://fakeimg.pl/120x120/")')
        .org-name
          h1.title 台東青年活動中心
          p.description 應用單位介紹，介紹這個單位的簡單文字。應用單位介紹，介紹這個單位的簡單文字。應用單位介紹，介紹這個單位的簡單文字。應用單位介紹，介紹這個單位的簡單文字。

      .org-meta
        .main
          .org-images
            img(src='http://fakeimg.pl/1920x1080/')
        .aside
          .org-info
            .label 登記地址
            .value 台東市博愛路425號
          .org-info
            .label 聯絡電話
            .value 089-123456
          .org-info
            .label 傳真號碼
            .value 089-654321
          .org-info
            .label Email
            .value Volunteer@taitung.com.tw
          a.cta-button(href='#') 管理後台


      .org-content
        .main
          h2.content-title 課程列表
          h3 進行中
          ul
            li 課程名稱課程名稱課程名稱課程名稱課程名稱課程名稱課程名稱
            li 課程名稱課程名稱課程名稱課程名稱課程名稱
          h3 將開設的課程
          ul
            li 課程名稱課程名稱課程名稱課程名稱課程名稱課程名稱課程名稱
            li 課程名稱課程名稱課程名稱課程名稱課程名稱
          h3 曾今開過的課程
          ul
            li 課程名稱課程名稱課程名稱課程名稱課程名稱課程名稱課程名稱
            li 課程名稱課程名稱課程名稱課程名稱課程名稱

          h2.content-title 活動列表
          h3 招募中
          ul
            li 活動名稱活動名稱活動名稱活動名稱活動名稱活動名稱活動名稱
            li 活動名稱活動名稱活動名稱活動名稱活動名稱
          h3 將開設的活動
          ul
            li 活動名稱活動名稱活動名稱活動名稱活動名稱活動名稱活動名稱
            li 活動名稱活動名稱活動名稱活動名稱活動名稱
          h3 曾辦過的活動
          ul
            li 活動名稱活動名稱活動名稱活動名稱活動名稱活動名稱活動名稱
            li 活動名稱活動名稱活動名稱活動名稱活動名稱
