.message
  max-width: 700px
  text-align: center

  h1
    color: $main-color

  .cta-button
    display: block
    max-width: 320px
    margin: 48px auto 0
    @extend %button
    @extend %button-size-m
    @extend %button-primary

  .back-button
    display: block
    max-width: 320px
    margin: 8px auto 0
    @extend %button
    @extend %button-size-m
    @extend %button-secondary