extends /layouts/_fs-layout

block content
  section
    .container.member-sign
      h2 忘記密碼
      form
        .form-unit-sign
          input(type='text' placeholder='請輸入您帳號的 Email')
      button.cta-button 重設密碼
      p.note 我們會寄送一封重設密碼的信件給您，請您收到信後依照信件上的指示重新設定密碼。

