extends /layouts/_fs-layout

block content
  section
    .container.personal-data
      .section-title
        h1.title 會員資料

      .form-section
        .aside
          h2.form-title 基本資料

        .main
          form.form-group
            .form-unit
              label.label 會員 ID
              .data Volunteer_0001
            .form-unit
              label.label 姓名
              .data 志工人
            .form-unit
              label.label 身分證字號
              .data A123***654
            .form-unit
              label.label 呈現名稱
              input(type='text' value='志工人')
            .form-unit
              label.label 居住地址
              input(type='text' value='台東市博愛路425號')
            .form-unit
              label.label 戶籍地址
              input(type='text' value='台東市博愛路425號')
              .check-item
                input#same-address(type='checkbox' checked)
                label(for='same-address') 與居住地址相同
            .form-unit
              label.label 聯絡電話
              .input-group
                input(type='text' value='089123456')
                input(type='text' value='098123456')
            .form-unit
              label.label Email
              input(type='text' value='Volunteer@taitung.com.tw')
            .form-unit
              label.label 密碼
              .input-group
                .data.password ・・・・・・・・
                a.small-button(href='/fs/member/change-pw') 變更密碼

      .form-section
        .aside
          h2.form-title 警急聯絡人（一）

        .main
          form.form-group
            .form-unit
              label.label 姓名
              input(type='text' value='志工人')
            .form-unit
              label.label 關係
              input(type='text' value='父子')
            .form-unit
              label.label 聯絡電話
              input(type='text' value='089123456')
            .form-unit
                a.small-button(href='#') 新增緊急聯絡人

      .form-section
        .aside
        .main
          .button-group
            button.cta-button 儲存上列變更

      .form-section
        .aside
          h2.form-title 技能

        .main
          form.form-group
            .form-unit
              label.label 技能項目
              .data-group
                .data.check.checked 救生員執照
                a.small-button(href='#') 更新技能
            .form-unit
              label.label 技能項目 - 認證中
              .data-group
                .data.check CPR 執照
                a.small-button(href='#') 更新技能

      .form-section
        .aside
          h2.form-title 所屬單位

        .main
          form.form-group
            .form-unit
              .data-group
                .org-logo(style='background-image: url("http://fakeimg.pl/120x120/")')
                .data 台東青年志工中心
                a.small-button(href='#') 管理介面
            .form-unit
              .data-group
                .org-logo(style='background-image: url("http://fakeimg.pl/120x120/")')
                .data 台東青年志工中心

      .form-section
        .aside
          h2.form-title 活動列表

        .main
          form.form-group
            .form-unit
              label.label 報名中
              .data 活動名稱一（已完成報名）
              .data 活動名稱二（審核中）

            .form-unit
              label.label 過去的活動
              .data-group
                .data 活動名稱一
                a.small-button(href='#') 活動日誌
              .data-group
                .data 活動名稱二
                a.small-button(href='#') 活動日誌
