extends /layouts/_fs-layout

block content
  section
    .container.member-sign
      h2 重設密碼
      form
        .form-unit-sign
          input(type='password' placeholder='輸入新密碼')
        .form-unit-sign
          input(type='password' placeholder='再次輸入新密碼')
      button.cta-button 重設密碼
