extends /layouts/_fs-layout

block content
  section
    .container.member-sign
      h2 登入
      form
        .form-unit-sign
          input(type='text' placeholder='您的帳號')
        .form-unit-sign
          input(type='password' placeholder='您的密碼')
      button.cta-button 登入
      a.forgot-pw(href='/fs/member/forgot-pw') 忘記密碼
      hr.divider
      a.signup-button(href='#') 註冊

