.event-detail-section, .org-detail-section
  .event-main, .event-meta, .event-content, .org-meta, .org-content
    margin-bottom: 24px

    .main, .aside
      position: relative

  .org-main
    display: flex

  +desktop
    .event-main, .event-meta, .event-content, .org-meta, .org-content
      display: flex

      .main
        flex: 2
        padding-right: 72px

      .aside
        flex: 1

  .event-main
    .title
      margin-top: 0
      @extend %font-size-xl

    .org-logo
      display: inline-block
      width: 64px
      height: 64px
      background-position: center
      background-size: cover
      border-radius: $border-radius

    .org-name
      display: inline-block
      vertical-align: text-bottom
      margin-left: 4px

    .share
      position: absolute
      top: 0
      right: 0

      &::before
        content: '分享'
        @extend %font-size-ui-s
        color: $sub-color-gray
        vertical-align: middle

      .facebook, .line
        display: inline-block
        vertical-align: middle
        width: 24px
        height: 24px
        margin-left: 8px
        filter: saturate(0)
        transition: filter .25s

        &:hover
          filter: saturate(1)

      .facebook
        background: resolve('share-fb.svg') no-repeat

      .line
        background: resolve('share-line.svg') no-repeat

  .org-main
    flex-wrap: nowrap

    .org-logo
      margin-right: 12px
      width: 64px
      height: 64px
      background-position: center
      background-size: cover
      border-radius: $border-radius

      +tablet
        margin-right: 24px
        width: 100px
        height: 100px

    .org-name
      display: inline-block
      max-width: 720px
      width: 100%

      .title
        margin: 0

      .description
        margin: 8px 0 24px

  .event-meta, .org-meta
    .event-apply-info
      margin: 0 0 16px

    .event-info, .org-info
      margin-bottom: 16px

      .value
        @extend %font-size-l
        font-weight: 300

    .cta-button
      display: block
      margin-top: 42px
      @extend %button
      @extend %button-size-m
      @extend %button-primary

    .cancel-button
      display: block
      margin-top: 16px
      @extend %button
      @extend %button-size-m
      @extend %button-secondary

  .label
    @extend %font-size-ui-s
    color: $sub-color-gray

    &::after
      content: ' / '

  .check-list
    margin: 0
    padding: 0
    list-style: none

    li
      padding-left: 32px
      background: resolve('icon-check.svg') 2px 2px no-repeat
      opacity: .3

      &.checked
        opacity: 1
