.form-section
  margin-bottom: 48px

  .aside
    padding-bottom: 12px

  +tablet
    display: flex

    .aside
      flex: 1

    .main
      flex: 4

.form-title
  margin: 0
  @extend %font-size-l
  color: $sub-color-black-light

.form-group
  padding-top: 12px
  @extend %font-size-ui-m
  border-top: 3px solid $sub-color-gray-bright

  +tablet
    padding-top: 0
    padding-left: 24px
    border-top: 0
    border-left: 3px solid $sub-color-gray-bright

  .form-unit + .form-unit
    margin-top: 12px

    +tablet
      margin-top: 18px

  label, .label
    @extend %font-size-ui-s
    color: $sub-color-gray

    &::after
      content: ' / '

  input[type='text']
    display: block
    margin-top: 4px
    padding: 8px
    width: 240px
    height: 36px
    border-radius: $border-radius
    border: 1px solid $sub-color-gray-bright

  .data
    margin-top: 4px

    &.check
      &::after
        content: ''
        display: inline-block
        vertical-align: sub
        margin-left: 8px
        width: 20px
        height: 20px
        background: resolve('icon-check.svg') no-repeat
        opacity: .3

    &.checked
      &::after
        opacity: 1

  .input-group, .data-group, .check-item, .radio-item
    margin-top: 4px

    input, .data
      display: inline-block
      margin-right: 8px

  .small-button
    display: inline-block
    margin: 4px 0
    @extend %button
    @extend %button-size-s
    @extend %button-secondary

.button-group
  margin-bottom: 72px

  .cta-button
    display: inline-block
    @extend %button
    @extend %button-size-m
    @extend %button-primary

  +tablet
    padding-left: 27px
