section
  margin: 48px 0

  .section-title
    display: flex
    justify-content: space-between
    align-items: center
    margin: 12px 0

    .title
      @extend %font-size-xl
      font-weight: 500
      color: $sub-color-gray

    .function
      text-align: right

      .form-group
        display: inline-flex
        align-items: center
        border: 0

      .form-unit
        display: inline-block

        label
          display: inline-block
          @extend %font-size-ui-s
          font-weight: 500
          color: $sub-color-gray

        input, select
          display: inline-block
          max-width: 160px

        .button
          display: inline-block
          @extend %button-primary
          min-width: 64px

        .button + .button
          margin-left: 8px

      .form-unit + .form-unit
        margin-top: 0
        margin-left: 16px


    .more-button
      @extend %button
      @extend %button-size-m
      @extend %button-secondary
