.table
  margin-bottom: 24px
  width: 100%
  text-align: left
  @extend %font-size-ui-s

  th, td
    padding: 8px 12px
    min-width: 82px
    word-break: break-word

    &.fit
      min-width: auto

    &.fixed
      width: 64px

    &.center
      text-align: center

  th
    border-bottom: 1px solid $sub-color-gray

  tr
    border-bottom: 1px solid $sub-color-gray-light

  button, .button
    display: inline-block
    margin: 2px
    @extend %button
    @extend %button-size-s
    @extend %button-secondary

  select
    display: block
    margin-top: 4px
    width: 240px
    appearance: none
    padding: 3px 32px 3px 6px
    border: 1px solid $sub-color-gray-light
    border-radius: $border-radius
    background: $sub-color-gray-light resolve('ui-arrow-down.svg') center right no-repeat

    &:focus
      outline: 0
      border-color: $sub-color-black-light