extends /layouts/_bs-layout

block content
  section
    .container
      .section-title
        h1.title 志工媒合

      ul.nav.nav-tabs
        li.active
          a(href='#match-new', data-toggle='tab') 本次媒合名單
        li
          a(href='#match-old', data-toggle='tab') 過去媒合名單

      .tab-content
        #match-new.tab-pane.active
          .section-subtitle
            h2.title 推播通知
            .function
              form.form-group
                .form-unit
                  label 設定時間
                  select
                    option 2017
                  label 年
                  select
                    option 10
                    option 11
                    option 12
                  label 月
                  select
                    option 30
                  label 日
                  select
                    option 06
                    option 12
                    option 18
                    option 24
                  select
                    option 00
                    option 15
                    option 30
                    option 45
                  label 推播方式
                  button.button(type='button' data-toggle='modal' data-target='#push-msg') 依時間推播
                  button.button(type='button' data-toggle='modal' data-target='#push-msg') 立即推播

          table.table
            thead
              tr
                th.fit.center 推播
                th 志工代號
                th 姓名
                th 身分證字號
                th 生日
                th 聯絡電話1
                th 聯絡電話2
                th 所屬運用單位
                th 加分條件
                th 管理
              - for(var i = 0; i < 5; i++)
                tr
                  td.fit.center
                    input(type='checkbox' checked)
                  td TV201710100001
                  td 志工人
                  td A123456789
                  td 70/01/01
                  td 0981234567
                  td 0981234567
                  td 台東青年活動中心
                  td 符合(2/2)
                  td
                    a.button(href='/bs/member/detail' target='_blank') 個人資訊

          include /partials/bs/_pagination

        #match-old.tab-pane
          .section-subtitle
            h2.title 推播通知
            .function
              form.form-group
                .form-unit
                  label 設定時間
                  select
                    option 2017
                  label 年
                  select
                    option 10
                    option 11
                    option 12
                  label 月
                  select
                    option 30
                  label 日
                  select
                    option 06
                    option 12
                    option 18
                    option 24
                  select
                    option 00
                    option 15
                    option 30
                    option 45
                  label 推播方式
                  button.button(type='button' data-toggle='modal' data-target='#push-msg') 依時間推播
                  button.button(type='button' data-toggle='modal' data-target='#push-msg') 立即推播

          table.table
            thead
              tr
                th.fit.center 推播
                th 狀態
                th 志工代號
                th 姓名
                th 身分證字號
                th 生日
                th 聯絡電話1
                th 聯絡電話2
                th 所屬運用單位
                th 加分條件
                th 管理
              - for(var i = 0; i < 5; i++)
                tr
                  td.fit.center
                    input(type='checkbox' checked)
                  td 過去已推播
                  td TV201710100001
                  td 志工人
                  td A123456789
                  td 70/01/01
                  td 0981234567
                  td 0981234567
                  td 台東青年活動中心
                  td 符合(2/2)
                  td
                    a.button(href='/bs/member/detail' target='_blank') 個人資訊
              - for(var i = 0; i < 5; i++)
                tr
                  td.fit.center
                    input(type='checkbox' disabled)
                  td 今日已推播
                  td TV201710100001
                  td 志工人
                  td A123456789
                  td 70/01/01
                  td 0981234567
                  td 0981234567
                  td 台東青年活動中心
                  td 符合(2/2)
                  td
                    a.button(href='/bs/member/detail' target='_blank') 個人資訊

          include /partials/bs/_pagination

  #push-msg.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          h4#myModalLabel.modal-title 請輸入推播內容
        .modal-body
          form.form-group
            .form-unit
              textarea
        .modal-footer
          button.btn.secondary(type='button', data-dismiss='modal') 取消
          button.btn.primary(type='button') 送出