extends /layouts/_bs-layout

block content
  section
    .container
      .section-title
        h1.title 活動名稱活動名稱 - 報名資料
        .function
          form.form-group
            .form-unit
              a.button(href='/bs/event/detail') 活動管理
              a.button(href='/bs/event/match') 志工媒合
              a.button(href='/bs/event/record') 志工日誌

      ul.nav.nav-tabs
        li.active
          a(href='#wait', data-toggle='tab') 待審核名單
        li
          a(href='#pass', data-toggle='tab') 審核通過名單
        li
          a(href='#fail', data-toggle='tab') 審核未通過名單

      .tab-content
        #wait.tab-pane.active
          table.table
            thead
              tr
                th 志工代號
                th 姓名
                th 身分證字號
                th 生日
                th 聯絡電話1
                th 聯絡電話2
                th 所屬運用單位
                th 加分條件
                th.center 管理
              - for(var i = 0; i < 5; i++)
                tr
                  td TV201710100001
                  td 志工人
                  td A123456789
                  td 70/01/01
                  td 0981234567
                  td 0981234567
                  td 台東青年活動中心
                  td 符合(1/2)
                  td.center
                    a.button(href='/bs/member/detail' target='_blank') 個人資訊
                    br
                    button.button(type='button') 審核通過
                    br
                    button.button(type='button' data-toggle='modal' data-target='#reject-reason') 審核不通過

          include /partials/bs/_pagination

        #pass.tab-pane
          .section-subtitle
            h2.title 投保表單
            .function
              form.form-group
                .form-unit
                  a.button(href='/bs/event/insurance' target='_blank') 製作投保表單

          table.table
            thead
              tr
                th 志工代號
                th 姓名
                th 身分證字號
                th 生日
                th 聯絡電話1
                th 聯絡電話2
                th 所屬運用單位
                th 加分條件
                th.center 管理
              - for(var i = 0; i < 5; i++)
                tr
                  td TV201710100001
                  td 志工人
                  td A123456789
                  td 70/01/01
                  td 0981234567
                  td 0981234567
                  td 台東青年活動中心
                  td 符合(1/2)
                  td.center
                    a.button(href='/bs/member/detail' target='_blank') 個人資訊

          include /partials/bs/_pagination


        #fail.tab-pane
          table.table
            thead
              tr
                th 志工代號
                th 姓名
                th 未通過原因
                th 加分條件
                th.center 管理
              - for(var i = 0; i < 5; i++)
                tr
                  td TV201710100001
                  td 志工人
                  td 志工資料不完整，請補齊資料。
                  td 符合(1/2)
                  td.center
                    a.button(href='/bs/member/detail' target='_blank') 個人資訊
                    br
                    button.button(type='button') 審核通過
                    br
                    button.button(type='button' data-toggle='modal' data-target='#reject-reason') 審核不通過

          include /partials/bs/_pagination

  #reject-reason.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          h4#myModalLabel.modal-title 請輸入審核不通過原因
        .modal-body
          form.form-group
            .form-unit
              textarea
        .modal-footer
          button.btn.secondary(type='button', data-dismiss='modal') 取消
          button.btn.primary(type='button') 送出